/*Colorpalette
#b78654
#717882
#b8bbc0
#131f2f
#633e19
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", "Inconsolata", sans-serif;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-image: none;
  background-color: #090b0f;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: 104vw;
  background-repeat: no-repeat;
}

.container {
  padding: 0 10%;
}

.navbar {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: right;
  padding-right: 1.5svh;
  padding-left: 6svh;
  width: 24svh;
  height: 102%;
  background-image: url(/Images/NavBackground.png);
  background-repeat: repeat;
  background-size: 30svh;
  position: fixed;
  left: -8svh;
  top: -1%;
  bottom: -1%;
  transform: translateX(-120%);
  z-index: 5;
  border: 1svh solid #241407;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s ease;
  transition: 1s;
}

.cross-container {
  cursor: pointer;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 10%;
  position: relative;
}

.cross-container img {
  position: relative;
  width: 6svh;
  height: 6svh;
  background-image: url(/Images/NavLiBackground.png);
  background-size: contain;
  box-shadow: inset 0px 0px 0px 4px #9a672b;
  border-radius: 50%;
  border: 0.7svh solid #613514;
  transition: 0.5s;
}

nav ul {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 12svh;
  height: 50svh;
  padding-top: 1svh;
  padding-bottom: 1.5svh;
  border: #613514 solid 0.8svh;
  border-radius: 5svh;
  background-image: url(/Images/NavLiBackground.png);
  background-size: contain;
  box-shadow: inset 0px 0px 0px 8px #9a672b;
}

nav ul li {
  position: relative;
  list-style: none;
  display: flex;
  z-index: 1;
  gap: 0;
  padding-bottom: 2svh;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIcon {
  color: #382b1e;
  height: 7svh;
}

nav ul li a .icon {
  font-size: 5svh;
  height: 5svh;
  transition: 0.5s;
}

nav ul li.active a .navIcon {
  transform: translateY(-0.7svh);
  filter: brightness(5);
  transition: 0.7s;
}

hr {
  height: 1px;
  color: #613514;
  padding: 0;
  margin-top: 1svh;
  border: solid 1.5px #613514;
  width: 10.7svh;
  z-index: 3;
}

.indicator {
  display: none;
  position: absolute;
  width: 10.5svh;
  height: 9svh;
  background: #9a672b;
  border-radius: 3.2svh;
  transition: 0.5s;
}

nav ul li:nth-child(1).active ~ .indicator {
  transform: translateY(calc(11svh * 0));
}

nav ul li:nth-child(3).active ~ .indicator {
  transform: translateY(calc(9.1svh * 1));
}

nav ul li:nth-child(5).active ~ .indicator {
  transform: translateY(calc(9.35svh * 2));
}

nav ul li:nth-child(7).active ~ .indicator {
  transform: translateY(calc(9.5svh * 3));
}

nav ul li:nth-child(9).active ~ .indicator {
  transform: translateY(calc(9.45svh * 4));
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1svh;
  color: #fff;
  width: 6svh;
  height: 6svh;
  border-radius: 50%;
  border: 0.7svh solid #613514;
  background-image: url(/Images/NavLiBackground.png);
  background-size: contain;
  box-shadow: inset 0px 0px 0px 7px #9a672b;
  cursor: pointer;
}

.resume button .text {
  position: absolute;
  color: #ffffff;
  font-size: 2svh;
  letter-spacing: 0.05em;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(18px);
}

.resume button:hover .text {
  opacity: 1;
  transform: translateY(0px);
}

.resume img {
  height: 3svh;
}

.resume button:hover img {
  animation: rotate 0.3s ease-in forwards;
  animation-iteration-count: 1;
}

.closeicon {
  width: 100%;
  display: inline-block;
}

#sidemenu {
  display: grid;
  background: #131f2f;
  position: fixed;
  list-style: none;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100svh;
  padding-top: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 7;
  transition: right 1s;
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.sidelist {
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: url(/Images/NavLiBackground.png);
  background-size: contain;
  border: 3px solid #241407;
  box-shadow: 1px 1px 5px #000;
  padding: 15px 20px;
  padding-left: 50px;
  border-radius: 10px;
}

.sidelist span {
  position: absolute;
  left: 70px;
}

.sidelist .navIcon {
  width: 25px;
  height: 25px;
}

.sidelistResume {
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: url(/Images/NavLiBackground.png);
  background-size: contain;
  border: 3px solid #241407;
  box-shadow: 1px 1px 5px #000;
  padding: 15px 20px;
  border-radius: 10px;
}

.closeicon {
  display: block;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.socialIcon {
  display: flex;
  text-align: center;
  width: 4svh;
  height: 4svh;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

.bar {
  position: fixed;
  display: space-between;
  width: 10svh;
  top: 0px;
  right: 0px;
  display: block;
  transition: 0.5s;
  z-index: 2;
}

.bar li {
  height: 8svh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  text-align: center;
  list-style: none;
  z-index: 3;
}

.bar::before {
  content: "";
  display: block;
  width: 2px;
  height: 30svh;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
}

.bar::after {
  content: "";
  display: block;
  width: 2px;
  height: 50svh;
  margin: 0 auto;
  background-color: #fff;
}

.socialIcon:hover {
  color: #c3a05f;
  transform: translateY(-1svh);
  cursor: pointer;
}

@keyframes rotate {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }

  100% {
    display: none;
    opacity: 0;
    transform: rotateY(90deg);
  }
}

.page-icon {
  height: 100px;
  vertical-align: middle;
  margin-right: 15px;
  filter: brightness(2);
}

/* ----------- Presentation/minigame ------------ */
.foregroundImg img {
  position: absolute;
  width: 104.1vw;
  top: -0.1vw;
}

.presentation {
  position: relative;
  width: 100%;
  top: -1vw;
  margin-bottom: 60vw;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  transition: 1s;
}
.searchBar {
  position: relative;
  font-size: 3svh;
  width: 100%;
  text-align: center;
  transition: 1s;
}

.animated-text {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  padding: 2svh 4svh;
  background: #d6b79d;
  border-radius: 10svh;
  border: 1svh solid #080e16;
  font-size: 3svh;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
  width: 50svh;
  position: relative;
  transition: 1s;
}

.animated-text span {
  position: relative;
  padding-left: 2svh;
}

.animated-text span::before {
  content: "Rémi";
  color: rgb(0, 0, 0);
  font-weight: 500;
  animation: words 20s infinite;
  width: 100%;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #d6b79d;
  border-left: 2px solid #000;
  right: -8px;
  animation: cursor 1s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #c46c1400;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Rémi !";
  }
  21%,
  40% {
    content: "développeur web";
  }
  41%,
  60% {
    content: "pixel artist";
  }
  61%,
  80% {
    content: "web designer";
  }
  81%,
  100% {
    content: "amateur de renards";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.sleepyFox {
  position: absolute;
  left: 10.5vw;
  top: 28.5vw;
}

.sleepyFox img {
  width: 4.5vw;
  height: 4.5vw;
}

.wasdAnim {
  position: absolute;
  left: 47vw;
  top: 18svh;
}

.wasdAnim img {
  width: 10svh;
  height: 13svh;
}

.container-game {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  left: 10.5vw;
  top: 12.1vw;
  width: 70vw;
  height: 32.9vw;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  z-index: -1;
}

/* ------------- about -------------- */

h1 {
  margin-bottom: 6svh;
}

#about {
  margin: auto 0 60svh 0;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  gap: 2svh;
}

.about-col-1 {
  flex-basis: 35%;
  position: relative;
  transition: 0.7s;
}

.about-col-1 img {
  width: 80%;
  position: absolute;
  border-radius: 15px;
  margin-top: 2svh;
  transition: 1s;
}

.about-col-1 img:nth-child(2) {
  transform: translateY(5px);
  opacity: 0;
}

.about-col-1:hover img:nth-child(2) {
  transform: translateY(0px);
  opacity: 1;
  filter: sepia(20%);
}

.about-col-1:hover img:nth-child(1) {
  transform: translateY(5px);
  opacity: 0;
}

.about-col-2 {
  flex-basis: 60%;
  width: 60%;
}

.about-col-2 p {
  font-family: "Inconsolata", sans-serif;
  line-height: 130%;
  margin-top: 3svh;
}

.sub-title {
  font-size: 50px;
  font-family: "Pixelify Sans", sans-serif;
  color: #ddca7d;
  letter-spacing: 0.1em;
}

.tab-titles {
  display: flex;
  margin: 40px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-family: "Pixelify Sans", sans-serif;
  color: #ddca7d;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 1px;
  background: rgb(205, 158, 71);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 70%;
}

.tab-contents ul li {
  list-style: none;
  margin: 2svh 0;
  font-family: "Inconsolata", sans-serif;
}

.tab-contents ul li span {
  color: #a07017;
  font-size: 14px;
}

.tab-contents {
  opacity: 0;
  position: absolute;
  transition: 0.2s;
  margin: 0 5svh;
}

.tab-contents.active-tab {
  opacity: 1;
}

/* ------------- services -------------- */

#services {
  padding-top: 30svh;
  margin-bottom: 10svh;
  padding-bottom: 60svh;
  background-image: url("/Images/ServicesBckgr.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 60px;
}

.services-list div {
  background-color: #717882;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div:hover {
  cursor: wait;
}

.services-list h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2svh;
}

.services-list p {
  font-family: "Inconsolata", sans-serif;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #b78654;
  transform: translateY(-10px);
}

/* ------------- portfolio -------------- */

#portfolio {
  padding-bottom: 9svh;
  margin-bottom: 20svh;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}

.work {
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  display: block;
  transition: tranforms 1s;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0), #131f2f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer p {
  font-family: "Inconsolata", sans-serif;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  display: flex;
  text-decoration: none;
  font-size: 18px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.layer .projectIcon {
  width: 30px;
  height: 30px;
  color: #a07017;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 20px auto;
  width: fit-content;
  border: 1px solid #ddca7d;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #fff;
  color: #1b0d08;
  border: 1px solid #fff;
}

/* ------------- Contact -------------- */

#contact {
  background-image: url("/Images/ContactBckgr.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30svh;
  padding-bottom: 15svh;
}

.contact-left {
  flex-basis: 40%;
}

.contact-left p {
  margin-bottom: 30px;
}

.contact-left .emailIcon {
  vertical-align: middle;
  font-size: 4svh;
  margin-left: 20px;
}

.contact-left a:hover .emailIcon {
  color: #c3a05f;
  transform: rotate(10deg) scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.contact-right {
  flex-basis: 100%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 200px;
  border: 0;
  outline: none;
  background: #b88b4a;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  font-family: "Inconsolata", sans-serif;
  border-radius: 6px;
}

form textarea {
  width: 100%;
}

.message-input {
  width: 100%;
}

.btn.btn2 {
  display: inline-block;
  background: none;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.5s;
}

.btn2:hover {
  background: #fff;
  color: #1b0d08;
}

.btn2:hover .sendIcon {
  color: #131f2f;
  transition: 0.5s;
}

.sendIcon {
  width: 30px;
  height: 30px;
}

.copyright p {
  width: 100%;
  font-family: "Inconsolata", sans-serif;
  text-align: center;
  padding: 25px 0;
  background: #302820;
  font-weight: 100;
  position: absolute;
  margin-top: 40px;
  z-index: 4;
}

#msg {
  color: #a07017;
  display: block;
  position: absolute;
  text-align: center;
}

/* ------------- CSS small screen -------------- */

nav .menuicon {
  display: none;
}

@media only screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    background-size: cover;
    background-position: top left;
    position: relative;
  }

  .foregroundImg img {
    display: none;
  }

  .bar {
    transition: 0.5s;
    width: 5svh;
  }
  .navbar {
    height: 40svh;
    width: 17svh;
    justify-content: right;
    grid-gap: 0svh;
    border: 0.8svh solid #241407;
    border-radius: 2svh;
    top: 30svh;
    left: -10.7svh;
    padding-top: 1svh;
    padding-right: 0.5svh;
    transition: 1s;
  }

  nav ul {
    display: none;
  }

  .cross-container img {
    height: 5svh;
    width: 5svh;
  }

  .openmenu {
    position: relative;
    display: flex;
    background-image: url(/Images/NavLiBackground.png);
    background-size: contain;
    box-shadow: inset 0px 0px 0px 0.5svh #9a672b;
    border-radius: 50%;
    height: 5svh;
    width: 5svh;
    justify-content: center;
    align-items: center;
    border: 0.5svh solid #613514;
  }

  nav .menuicon {
    display: inline-block;
    height: 3svh;
    width: 3svh;
    cursor: pointer;
  }

  .resume {
    display: none;
  }

  .presentation {
    margin-bottom: 700px;
  }

  h1 {
    width: 100%;
    margin-bottom: 120px;
    text-align: center;
  }
  .center {
    margin: auto;
  }

  .searchBar {
    font-size: 2svh;
    transition: 1s;
  }

  .animated-text {
    font-size: 2svh;
    padding-left: 1.5svh;
    width: 30svh;
    transition: 1s;
  }
  .animated-text span {
    position: relative;
    padding-left: 2svh;
  }

  .sleepyFox {
    top: 51svh;
    left: 19svh;
  }

  .sleepyFox img {
    width: 8.5svh;
    height: 8.5svh;
  }

  .sub-title {
    font-size: 40px;
  }

  .wasdAnim {
    display: none;
  }

  #canvas {
    left: 17svh;
    top: 21svh;
    width: 130svh;
    height: 60svh;
  }

  .about-col-1 {
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    flex-basis: 100%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .about-col-1 img {
    width: 200px;
    height: 200px;
  }

  .about-col-2 {
    flex-basis: 100%;
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .copyright p {
    font-size: 14px;
    position: absolute;
    bottom: 0svh;
  }
}
